<div>
    <h1>Portfolio</h1>
    
    <button class="navBtn" ng-click="getAllPortF()">All protfolio</button>
    <button class="navBtn" ng-click="newPortF()">New portfolio</button>
    <button class="navBtn" ng-click="deletedPortF()">Deleted portfolio</button>
    
    <div class="clearfix"></div>
    
    <div id="allPortfolio" ng-show="showAllPortfolio">
		<ul>
			<li ng-repeat="eachPortfolio in allPortfolios" class="eachPortfolio">
				<div class="pfTitle">{{eachPortfolio.title}}</div>
				<div class="editPf" data="{{eachPortfolio.id}}" ng-click="editPortfolio(eachPortfolio.id)">Edit</div>
				<div class="deletePf" data="{{eachPortF.id}}" ng-click="deletePortfolio(eachPortfolio.id)">Delete</div>
				<img ng-src="files/images/{{eachPortfolio.file}}">
			</li>
		</ul>
    </div>
    
    <div id="delPortfolio" ng-show="showDeletedPortfolio">
		<ul>
			<li ng-repeat="deleted in delPortfolios" class="eachPortfolio">
				<div class="pfTitle">{{deleted.title}}</div>
				<div class="editPf" data="{{deleted.id}}" ng-click="editPortfolio(deleted.id)">Edit</div>
				<div class="deleteVoreverPf" data="{{deleted.id}}" ng-click="deleteForever(deleted.id)">Delete</div>
				<div class="unDeletePortfolio" data="{{deleted.id}}" ng-click="unDelete(deleted.id)">Undelete</div>
				<img ng-src="files/images/{{deleted.file}}">
			</li>
		</ul>
    </div>
    
    <div class="clearfix"></div>
    
    <div id="portfolioEdit" ng-show="showPortfolio">
	    <input type="hidden" data="{{portfolio.id}}" ng-model="portfolio.id">
	    
	    <label for="title">Portfolio title:</label>
		<input type="text" ng-model="portfolio.title" id ="title">
		
		<div class="clearfix"></div>
		<label for="category">Category:</label>
		<input type="text" ng-model="portfolio.category" id="category">
				
		<div class="chooseImages" ng-show="images">
			<ul>
				<li ng-repeat="file in files" class="file">
					<img ng-src="files/images/{{file.file}}" data="{{file.id}}" ng-click="setLeadImage(file.id)">
				</li>
			</ul>
		</div>
		
		<div class="clearfix"></div>
		<label for="desc">Portfolio description:</label>
		<textarea id="desc">{{portfolio.description}}</textarea>
		
		<div class="clearfix"></div>
		<label for="link">Links to:</label>
		<input type="text" ng-model="portfolio.link" id="link">
		
		<div class="clearfix"></div>
		<div id="leadImage">
			<img ng-src="files/images/{{leadImage}}" alt="Select lead image">
		</div>
		<button class="navBtn" ng-click="chooseLeadImage()">Set lead image</button>
		
		<div class="clearfix"></div>
		<button class="navBtn" ng-click="save()">Save</button>
    </div>
	
</div>
<div class="loading">
	<div class='spinner center'>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
		<div class='spinner-blade'></div>
	</div>
</div>